

h1{font-family: Arial, Verdana, sans-serif; font-size: 32px;
color:azure; margin-left: 10px;}
h2{font-family: Arial, Verdana, sans-serif; font-size: 22px;
color: azure; margin-left: 10px;}
p{font-family: Arial, Verdana, sans-serif; font-size: 16;
color: azure; margin-left: 10px;}

a{color: rgb(36, 53, 84);}
a:hover{color:rgb(36, 95, 101);}

header{background-color:rgb(36, 53, 84);padding: 7px;}
main{background-color: rgb(67, 70, 91); }
body{background-color: rgb(67, 70, 91); margin:0;}
footer{background-color: rgb(71, 71, 145); padding:4px;}
content{background-color: rgb(70, 207, 132);}

img{height: 400px;
    margin: 10px;
    padding: 3px;
    border:3px solid rgb(182, 206, 214); padding:0px; margin:5px}
 

.footer-text{display: flex;
   justify-content: center;}

.pictures-home{margin: 170px 0;
    display: flex;
    justify-content: center;}

.img-goya{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;}

.img-fussli{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-caravaggio {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
    grid-template-areas:
    " img1 img2 ."
    " . img3 img4"
    "img5 img6 .";
}

.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}
.img5 {
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}